.App {
  text-align: center;
}


.ButtonClose{
    
    margin: 10px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin:  30px auto;
    padding-bottom: 15px;
}

.setcolor
{
    background-color: whitesmoke;
}